@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #383838;
}
.content {
    color: #09fbba;
    transition: 1s
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    padding-top: 20px;
}
#sidebar {
    position: absolute;
    width: 230px;
    height: 100%;
    background: #09fbba;
    top: 0;
    /* left: -230px; */
    transition: 0.5s ease-out;
    z-index: 4;
}


